/*********************
Name: Jacob Wallace
Coding 07-09
Purpose: CSS for main bodies of all pages
**********************/

/******** MAIN PAGE ***********/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

body {
  background-image: url("../images/top-img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/*************** CONTENT ****************/

.content {
  color: #fff;
  overflow: hidden;
}

.hero, .abt, .comp, .news, .newsTest {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  min-width: 60vw;
  max-width: 80vw;
  margin: 0 auto;
  z-index: 5;
  position: relative;
}
 
.hero h2 {
  font-size: clamp(2.5rem, 10vw, 3.5rem);
}

.hero p{
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.abt h2, .comp h2,.news h2, .newsTest h2{
  font-size: clamp(1.5rem, 10vw, 2.5rem);
}

.abt p, .comp p, .news p, .newsTest p{
  font-size: clamp(1rem, 5vw, 2rem);
}

.news h3{
  font-size: clamp(1.2rem, 7vw, 2.2rem);
}

.news , .newsTest{
  margin-top: 10rem;
}

.abt h2, .comp h2, .news h3 , .newsTest h2{
  padding-top: clamp(2rem, 20vw, 4rem);
  padding-bottom: clamp(2rem, 20vw, 4rem);
}

.artLink {
  color: #fff;
  font-style: none;
  font-size: 1rem;
}

.artLink:hover {
  color:blue;
}

.art:last-child {
  padding-bottom: 5rem;
}

.newsTest {
  color: #fff;
}

/************* CONTACT FORM *******************/
.container {
  z-index: 5;
  position: relative;
  padding: 100px;
}

img {
max-width: 100%;
display: block;
}

.content {
  z-index: 5;

}

.card {
  z-index: 5;
margin: 2rem auto;
display: flex;
flex-direction: column;
width: 100%;
max-width: 425px;
background-color: #FFF;
border-radius: 10px;
box-shadow: 0 10px 20px 0 rgba(#999, .25);
padding: .75rem;
}

#msg{
position: relative;
font-size: 1rem;
color: red;
line-height: 1.2em;
display: flex;
padding: 1em;
}

.card-image {
border-radius: 8px;
overflow: hidden;
padding-bottom: 65%;
background-color: #6658d3;
position: relative;
}

.card-heading {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 1.5rem;
font-weight: 700;
line-height: 1em;
}

.card-form {
padding: 2rem 1rem 0;
}

.input {
display: flex;
flex-direction: column-reverse;
position: relative;
padding-top: 1.5rem;
}

.input-label {
color: #8597a3;
position: absolute;
top: 1.5rem;
transition: .25s ease;
}

.input-field {
border: 0;
z-index: 1;
background-color: transparent;
border-bottom: 2px solid #eee; 
font: inherit;
font-size: 1.125rem;
padding: .25rem 0;
padding-top: 1.3em;
}

textarea {
color: #8597a3;
}

.action {
display: flex;
justify-content: center;
margin: 2rem;
}

.clear {
margin: 2rem;
}

.action-button {
font: inherit;
font-size: 1.25rem;
padding: 1em;
width: auto;
font-weight: 500;
background-color: #6658d3;
border-radius: 6px;
color: #FFF;
border: 0;
margin-right: 40px;
}

.action-button:hover{
background-color: black;
  color: #6658d3;
}

.clear-button {
font: inherit;
font-size: 1.25rem;
padding: 1em;
width: auto;
font-weight: 500;
background-color: #6658d3;
border-radius: 6px;
color: #FFF;
border: 0;
}

.clear-button:hover{
background-color: black;
  color: #6658d3;
}

.card-info {
padding: 1rem 1rem;
text-align: center;
font-size: .875rem;
color: #8597a3;
}

/***** CONTACT US FORM *****/
.textinput {
border: 2px solid #eee;
z-index: 1;
background-color: transparent;
font: inherit;
font-size: 1.125rem;
padding-top: 1.3em;
padding-left: 1rem;
}

/************* WAVE ANIMATION *****************/

.waves {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25vh;
  transition: 500ms;
  background-color: var(--color);
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -70vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(51, 51, 51, .3);
  animation: waves 15s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.4);
  animation: waves 23s linear infinite;
}


/************* MEDIA QUERIES *****************/

/************ TABLET ************/
@media screen and (max-width: 800px) {
  /************* WAVES ****************/

  .waves::before,
  .waves::after {
    top: -65vw;
  }
}

/************ TABLET ************/
@media screen and (max-width: 500px) {

  /************* WAVES ****************/

  .waves::before,
  .waves::after {
    top: -60vw;
  }
}

/************* KEY FRAMES *****************/

/*** HERO ***/
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.hero {
  animation: 1s ease-out 0s 1 slideInLeft;
}

/*** ABT COMP NEWS ***/

@keyframes slideUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
  from {color: transparent;}
  to {color: #fff;}
}

.abt, .comp, .news {
  animation: 1s ease-out 0s 1 slideUp;
}

/*** WAVES ***/
@keyframes waves {

  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}